<div class="container">
  <h1>Add a new cocktail</h1>

  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name, label: 'Name', placeholder: 'eg. Long Island' %>
    <%= f.submit "add a cocktail", class: "btn btn-secondary" %>
  <% end %>
</div>
